* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 1.3em;
    color: #031634;
    background-color: #fcfcfc;

    margin: 0;
    padding: 0;
}

img {
	border: none;
}

h1,
h2 {
    color: #CE534D;
    font-family: Palatino,Georgia,serif;
}

.meeting h1,
.meeting h2 {
    color: #DED4B9;
}

a,
a:active,
a:visited {
    color: #64B6B1;
    text-decoration: none;
}

/* .meeting a, */
/* .meeting a:active, */
/* .meeting a:visited { */
/*     color: #A1C1BE; */
/* } */

body > section, .inner {
    padding: 1.5em;
    overflow: hidden;
}

.nav {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline;
    margin: 0 20px;
}

.logo {
    position: relative;
    width: 425px;
    margin: 3em auto;
}

.logo canvas {
    position: absolute;
    top: -7px;
    left: 275px;
}

.logo img {
    /* scale high-res image down for retina */
    width: 275px;
}

.meeting, .nav {
    overflow: hidden;
    background-color: #46433A;
    color: white;
}

.meeting .info, .prev-meetings .info, .upcoming-meetings .info{
    margin: 1em 0;
    font-size: 1.2em;
}

.meeting .info h3, .prev-meetings .info h3, .upcoming-meetings .info h3 {
    margin-bottom: 0;
}

section.prev-meetings,section.upcoming-meetings {
    background-color: #f9f9f9;
}

section.prev-meetings ul li,section.upcoming-meetings ul li {
    margin: 1em 0;
}

section.prev-meetings ul ul,section.upcoming-meetings ul ul {
    margin: 1em 0;
}

section.prev-meetings ul ul li,section.upcoming-meetings ul ul li {
    margin: 0;
}

.meetingDetails {
	margin-bottom: 4em;
}

@media (min-width:800px) {
    body > section, .inner {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

	section.meeting, section.prev-meetings, section.upcoming-meetings {
        width: auto;
        padding: 0;
	}

    section.details .left, section.details .right {
        width: 50%;
        float: left;
    }

    section.details .right {
        text-align: right;
    }

	.jlongster, .codethug, .gkash {
		width: 50%;
		padding: 0 1em;
	}
    .gkash {
        float: left;
    }

	.jlongster {
		float: right;
	}
}

.sponsors .links {
    text-align: center;
}

.sponsors a {
    margin: 0 1em;
}

.sponsors a .capitalone-logo {
    width: 150px;
}

.meeting h3 {
    margin-top: 0;
}

section.details .name {
    font-weight: bold;
}

.map img {
    margin-top: 1em;
}

.follow {
    font-weight: bold;
    font-size: .9em;
    text-align: center;
}

a.twitter {
    display: block;
    margin-bottom: .25em;
}

.contact {
    overflow: hidden;
    clear: both;
}

.contact p {
    font-size: .9em;
    line-height: 1.25em;
}

.contact img {
    display: block;
    margin: 1.5em auto;

}

.footnote {
    margin: 3em 0;
    margin-top: 5em;
    font-size: .8em;
    text-align: center;
    font-style: italic;
}

/* Responsive youtube embed
 * http://avexdesigns.com/responsive-youtube-embed/
 */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
