html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.5em;
    color: #404040;
    margin: 0;
    padding: 0;
    background: url(bgs/absurdidad.png);
}

h1, p {
    text-align: center;
}

.logo {
    font-size: 3em;
}

.logo canvas {
    margin-bottom: -25px;
}

.logo img {
    /* scale high-res image down for retina */
    width: 275px;
}

.content {
    width: 70%;
    min-height: 100%;
    margin: 0 auto;
    padding: 1.5em;
}

.render {
    width: 175px;
    height: 175px;
    background-color: #a0f0a0;
    margin: 0 auto;
}

.bg-name {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    padding: .5em;
    background-color: rgba(255, 255, 255,.5);
}
